body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a4ea3;
  color: white;
}

.header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 40px;
}

.logo {
  max-width: 120px;
}

.servicios {
  padding: 30px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.contacto {
  background: #343a40;
  color: white;
  text-align: center;
  padding: 30px;
}

footer {
  background: #212529;
  color: #ccc;
  text-align: center;
  padding: 10px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;

}
